<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Weather App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body
    style="background-image: url('css/1.jpg') ;margin: 0;padding: 0;height: 100vh;background-repeat: repeat;overflow: hidden;">







    <div id="particles-js">

        <div class="row justify-content-center">
            <div class="col-md-6 text-center ">
                <div class="card  justify-content-center mt-8"
                    style="border-radius:2% ; background-color: rgb(90, 88, 86); color: white; ">
                    <div class="card-body">